/* Defina o background do corpo (body) com a cor #121212 */
body {
    background-color: #121212;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Peso da fonte regular */
}

a {
    color: #005bb7; /* Substitua #FF0000 pela cor desejada em formato hexadecimal, RGB, ou nome da cor. */
}

/* Estilos para o menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #202024;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 20px;
}

li:last-child {
    margin-right: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
}

li a:hover {
    background-color: #005bb7;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilos para o logotipo no menu */
.logo-menu {
    margin-left: 0; /* Define a margem esquerda como 0 para alinhar à esquerda */
}

/* Estilos para o título do FAQ */
h1 {
    font-size: 20px;
    color: white;
    margin-top: 30px;
    text-align: center;
}

/* Estilos para o título das respostas */
.TituloResposta {
    font-size: 20px;
    font-weight: bold;
    color: #FFCA00;
    font-family: 'Poppins semibold', sans-serif;
    margin-bottom: 10px;
}

/* Estilos para os temas */
h2 {
    font-size: 18px; /* Tamanho da fonte para os temas */
    color: #FFCA00;
    margin-top: 20px; /* Espaço superior reduzido */
    margin-bottom: 10px; /* Espaço inferior reduzido */
    text-align: left; /* Alinhe o texto à esquerda */
}

/* Estilos para as perguntas */
.pergunta {
    position: left; /* Para permitir a posição da barra lateral */
    padding-left: 5px; /* Aumente o espaço entre a borda e o texto e mova o texto para a direita */
    border-left: 5px solid #FED714; /* Cor e largura da barra lateral */
    cursor: pointer;
    font-size: 15px;
    font-weight: 300; /* Define a fonte como "thin" */
    font-family: 'Poppins', sans-serif; /* Certifique-se de incluir a fonte Poppins */
    color: white;
    margin-top: 5px; /* Espaço superior reduzido */
    margin-bottom: 0px; /* Espaço inferior reduzido */
    text-align: left;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    line-height: 1.2;
    box-sizing: border-box; /* Evita que o padding afete a largura total */
    transition: color 0.3s; /* Adiciona uma transição suave à cor do texto */
    display: inline-block; /* Alterado de "block" para "inline-block" */
}


/* Adiciona espaço antes do texto da pergunta */
.pergunta::before {
    content: '\00a0'; /* Caractere de espaço em branco */
    padding-right: 5px; /* Espaço entre o espaço em branco e o texto */
}

/* Estilos ao passar o mouse sobre a pergunta */
.pergunta:hover {
    color: #FFCA00; /* Cor do texto ao passar o mouse */
}

/* Estilo para a classe texto-container */
.texto-container {
    white-space: pre-wrap; /* Isso permite a quebra de linha conforme necessário */
    width: 100%; /* Garante que o texto ocupe toda a largura disponível */
}

/* Estilo para os links quando são hover (mouse sobre eles) */
.texto-container a:hover {
    color: #0056b3; /* Cor desejada quando o mouse está sobre os links */
}

/* Estilo para a linha entre pergunta e resposta */
.quebra-de-pagina {
    page-break-after: always;
}

/* Estilos para as respostas */
.resposta {
    display: none;
    font-size: 16px;
    color: white;
    font-family: 'Poppins Regular', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202024;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 1000px;
    max-width: 80%;
    height: auto;
    max-height: 80%;
    overflow-y: auto;
    padding: 30px;
    text-align: left;
    animation: float 1s infinite alternate ease-in-out;
    font-style: italic;
}

/* Estilos para o botão "Fechar" dentro da resposta */
.resposta .fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

/* Estilos para o botão "Copiar" dentro da resposta */
.resposta .copiar {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
}

/* Estilos para o texto "Copiar" ao lado do botão */
.resposta .copiar-texto {
    margin-right: 5px;
    color: white;
}

/* Estilos para o texto "Copiado" quando o botão é clicado */
.resposta .copiado-texto {
    display: none;
    margin-left: 5px;
    color: #FFCA00;
}

/* Estilos para tornar o botão "Fechar" visível quando a resposta está aberta */
.resposta.visivel {
    display: block;
}

/* Efeito de flutuação */
@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }
    100% {
        transform: translate(-50%, -50%) translateY(-10px);
    }
}

#filtro-perguntas {
    /* Adicione os estilos desejados para o botão de pesquisa aqui */
    padding: 10px; /* Espaçamento interno para melhor aparência */
    width: 200px; /* Defina a largura desejada em pixels ou outra unidade de medida */
    height: 15px; /* Defina a altura desejada em pixels ou outra unidade de medida */
    border: 1px solid #ccc; /* Borda fina ao redor do botão */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    font-family: 'Poppins regular', sans-serif;
    background-color: #fff; /* Cor de fundo */
    /* Outros estilos conforme necessário */
}
