/* styles.css */

/* Estilos para o menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Cor de fundo do menu */
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer; /* Adiciona cursor de ponteiro para indicar que é clicável */
}

li a:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse sobre o link */
    color: black;
}

/* Estilos para as respostas */
.resposta {
    display: none;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}
